nav(class="navbar navbar-expand-lg navbar-light bg-light")
    div.container-fluid
        a(class="navbar-brand" href="/") Tienda de productos
        div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
            div(class="navbar-nav")
                a(class="nav-link" href="/") Inicio
                a(class="nav-link" href="/productos") Productos